<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-color: aqua;
        }
    </style>
</head>
<body>
    <center>
        <h1>Home Page</h1>
        <form>
            <input type="text" placeholder="Enter your First name.....">
            <br><br>
            <input type="text" placeholder="Enter your Last name.....">
            <br><br>
            <input type="email" placeholder="Enter your Email.....">
            <br><br>
            <input type="date" >
            <br><br>
            <input type="number" placeholder="Enter your Mobile no.">
            <br><br>
            <button type="submit">Submit</button>
        </form>
    </center>
</body>
</html>