<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <style>
        a{
            /* text-decoration: none; */
            font-size: 28px;
            margin: 0px 15px;
        }
    </style>
</head>
<body style="background-color: rgb(192, 254, 6);">
    <center>
        <h1 style="font-family:serif;color:darkcyan;">Welcome to First page</h1>
        <hr>
    </center>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/services">Services</a>

</body>
</html>